<div class="wrapper">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 container">
					<div class="card">

						<div align="center" class="card-header">
							<button (click)="printToCart('printSectionId')" class="button col-md-2">Print</button>
						</div>

						<div class="card-body" id="printSectionId">
							<div class="row" align="center">
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/ipsi.png" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
								<div class="col-md-8">
									<div align="center">
										<p style="font-weight: bold;font-size: 20px">
											REPORT LIST PARTICIPANT
											<br> {{champName}}
											<br> {{champLocation}}
											<br> {{champTgl}}
										</p>
										<label style="color: black; font-weight: bold; font-size: 12px">ROUND : {{ round }}</label>
										<br>
										<label style="color: black; font-weight: bold; font-size: 12px">ARENA : {{ arena }}</label>
										<br>

									</div>
								</div>
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/cv-yoshi.jpg" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
							</div>

							<br>

							<div class="table-responsive">
								<table class="table table-bordered table-sm">
									<thead align="center">
										<tr>
											<th style="width: 19%;font-size: 14px;  border: 1px white !important;">

											</th>
											<td style="border: 1px solid red !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px;background-color: red  !important;font-weight: bold;color: white !important;padding: 4px 8px;">
												RED CORNER
											</td>
											<th style="width: 6%; border: 1px white !important;">

											</th>
											<td style="border: 1px solid blue !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px;background-color: blue  !important;font-weight: bold;color: white;padding: 4px 8px;">
												BLUE CORNER
											</td>
											<th style="width: 15%;font-size: 14px; border: 1px white !important;">

											</th>
										</tr>
									</thead>
								</table>
							</div>

							<div class="table-responsive">
								<table class="table table-bordered table-sm ">
									<tbody align="center">
										<tr>
											<td style="width: 10%; font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												Compt Number
											</td>
											<td style="width:10%; font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												Class
												<br> Gender
											</td>
											<td style="width: 30%;font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												Name
												<br> Contingent
											</td>
											<td style="width: 5%; font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">

											</td>
											<td style="width: 30%; font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												Name
												<br> Contingent
											</td>
											<td style="width: 15%;font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												Winner by / Points
											</td>
										</tr>


										<tr *ngFor="let mon of monitors">
											<td style="width: 10%; font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ mon.competitionId }}
											</td>
											<td style="width:10%; font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ mon.className }}
												<br> {{ mon.gender }}
											</td>
											<td style="width: 30%;font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ mon.redCorner.participantName }}
												<br> {{ mon.redCorner.contingentName }}
											</td>
											<td style="width: 5%; font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												X
											</td>
											<td style="width: 30%; font-size: 14px;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold; ">
												{{ mon.blueCorner.participantName }}
												<br> {{ mon.blueCorner.contingentName }}
											</td>
											<td style="width: 15%;font-size: 14px; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ mon.finalScore }}
											</td>
										</tr>



									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>