<div class="wrapper">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 container">
					<div class="card">
						<div align="center" class="card-header">
							<button (click)="printToCart('printSectionId')" class="button col-md-2">Print</button>
						</div>
						<div class="card-body" id="printSectionId">
							<div class="row" align="center">
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/ipsi.png" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
								<div class="col-md-8">
									<div align="center">
										<p style="font-weight: bold;font-size: 20px;text-transform: uppercase;">
											PENCAK SILAT CHAMPION CLASS
											<br> {{champName}}
											<br> {{champLocation}}
											<br> {{champTgl}}
										</p>
									</div>
								</div>
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/cv-yoshi.jpg" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
							</div>

							<br>
							<br>
							<div class="table-responsive">
								<table class="table table-bordered table-sm">
									<tbody align="center">
										<tr>
											<td style="width: 5%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;font-size: 14px"
											 rowspan="2">
												NO
											</td>
											<td style="width: 25%; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;font-size: 14px"
											 class="box-zero" rowspan="2">
												CONTINGENT
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												GOLD
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												SILVER
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												BRONZE
											</td>
											<td style="width: 40%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;" colspan="3">
												TOTAL
											</td>
										</tr>
										<tr>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												MATCH
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												MATCH
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												MATCH
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												GOLD
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												SILVER
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												BRONZE
											</td>
										</tr>

										<tr *ngFor="let cont of medal, let i = index">
											<td style="width: 5%; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{i+1}}
											</td>
											<td style="width: 25%; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ cont.contingentName }}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ cont.totalGoldMedal }}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ cont.totalSilverMedal }}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ cont.totalBronzeMedal }}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ cont.totalGoldMedal }}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ cont.totalSilverMedal }}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{ cont.totalBronzeMedal }}
											</td>
										</tr>
										<!--  <tr>
													<td style="width: 5%; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														2
													</td>
													<td style="width: 25%; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														KABUPATEN TASIKMALAYA
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														 0
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0 
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0
													</td>
												</tr>
												<tr>
													<td style="width: 5%; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														3
													</td>
													<td style="width: 25%; border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														KOTA DEPOK
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														 0
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0 
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0
													</td>
													<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
														0
													</td>
												</tr> -->
										<tr>
											<td style="width: 30%;  border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;" colspan="2">
												TOTAL
											</td>

											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{jumlahMedalGold}}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{jumlahMedalSilver}}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{jumlahMedalBronze}}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{jumlahMedalGold}}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{jumlahMedalSilver}}
											</td>
											<td style="width: 11%;border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;">
												{{jumlahMedalBronze}}
											</td>

										</tr>
									</tbody>
								</table>
							</div>

							<br>
							<br>
							<div class="table-responsive">
								<table class="table table-bordered table-sm">
									<thead align="center">
										<tr>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">

											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px;padding: 4px 8px;">

											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												_____________ , _______________
											</th>
										</tr>
										<tr>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">

											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px;padding: 4px 8px;">

											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												_______________
											</th>
										</tr>
										<tr>
											<th colspan="3" style="border: 1px white !important">
												<br>
												<br>
												<br>
											</th>
										</tr>
										<tr>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">

											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px;padding: 4px 8px;">

											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												........................
											</th>
										</tr>
									</thead>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>