.box-red {
  background-color: red;
  font-weight: bold;
  color: white;
}

.box-blue {
  background-color: blue;
  font-weight: bold;
  color: white;
}

.box-zero {
  background-color: #eee;
}

body {
  margin: 0;
  height: 100%;
}
