<body>


	<div class="wrapper">

		<div class="container-fluid">

			<div class="col-md-12" style="margin-top: -10px; margin-bottom: -10px">
				<div class="form-group row">

					<div class="col-md-1">
						<div class="form-group">
							<label class="bmd-label-floating">Arena</label>
							<select #selectArena (change)="selArena($event)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
								<option disabled>-Select-</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>


					<div class="col-md-4">
						<div class="form-group">
							<label class="bmd-label-floating">Schedule Session</label>
							<select #selectSession (change)="onShows(selectSession.value)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
								<option disabled>-Select-</option>
								<option *ngFor="let list of monitorList; let i = index" value="?round={{list.round}}&timeStart={{list.timeStart}}&timeEnd={{list.timeEnd}}">
									Round {{list.round}} | {{list.timeStart}} - {{list.timeEnd}}
								</option>
							</select>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label class="bmd-label-floating">Compt Number</label>
							<select #selectCompetition class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
								<option disabled>-Select-</option>
								<option *ngFor="let mon of monitors" value="{{mon.competitionId}}">
									{{mon.competitionId}}
								</option>
							</select>
						</div>
					</div>

					<div class="col-md-1">
						<div class="form-group">
							<button type="submit" (click)="getScores(selectCompetition.value, selectArena.value)" class="btn btn-primary pull-left" style="margin-top: 28px;">View</button>
						</div>
					</div>
					<!-- <div class="col-md-2">
						<div class="form-group">
							<button type="submit" [routerLink]="['/view-statistics']" class="btn btn-primary pull-left" style="margin-top: 28px;">View Statistics</button>
						</div>
					</div> -->
				</div>


			</div>

			<div class="container-fluid" style="margin-top: -10px; margin-bottom: -10px">
				<div class="row">
					<div class="col-md-12 container">
						<div class="card">
							<div class="card-body">
								<div align="center">
									<p style="font-weight: bold;">
										PENCAK SILAT SCORING
										<br> {{scores[0].championshipName}}
										<br> {{scores[0].championshipLocation}}
										<br> {{scores[0].championshipDateStart}} - {{scores[0].championshipDateStart}}
									</p>
									<label style="color: black; font-size: 12px">CLASS / GENDER : {{scores[0].className}} / {{scores[0].gender}} </label>
									<br>
									<label style="color: black; font-size: 12px">COMPETITON NO : {{scores[0].competitionId}}</label>
									<br>
								</div>
								<div class="table-responsive" style="size: 80%">
									<table class="table table-bordered table-sm">
										<thead>
											<tr>
												<th style="width: 47%;font-size: 14px" class="box-red">
													Name : {{scores[0].redCornerName}}
												</th>
												<th style="width: 6%" class="box-zero">
												</th>
												<th style="width: 47%;font-size: 14px" class="box-blue">
													Name : {{scores[0].blueCornerName}}
												</th>
											</tr>
											<tr>
												<th style="width: 47%;font-size: 14px" class="box-red">
													Contingent : {{scores[0].redCornerContingent}}
												</th>
												<th style="width: 6%" class="box-zero">
												</th>
												<th style="width: 47%;font-size: 14px" class="box-blue">
													Contingent : {{scores[0].blueCornerContingent}}
												</th>
											</tr>
										</thead>
										<tbody style=" overflow-y: auto;">
										</tbody>
									</table>
								</div>

								<div class="table-responsive">
									<table class="table table-bordered table-sm" border="3">
										<thead align="center">
											<tr>
												<th style="width: 8.5%; font-weight: bold;" rowspan="2">
													ROUND
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR I
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR II
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR III
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR IV
												</th>
												<th rowspan="2" style="width: 1.3%;"></th>
												<th colspan="2" style="font-weight: bold;">
													JUROR V
												</th>
											</tr>
											<tr>
												<!-- juror I -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>

												<!-- juror II -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>

												<!-- juror III -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>

												<!-- juror IV -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>

												<!-- juror V -->
												<th style="width: 8.5%;" class="box-red">
													RED
												</th>
												<th style="width: 8.5%;" class="box-blue">
													BLUE
												</th>
											</tr>

										</thead>
										<tbody style=" overflow-y: auto;" align="center">
											<tr>
												<th style="width: 8.5%;">
													<h3>I</h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror I -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[1].score.totalRedJuror1}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[1].score.totalBlueJuror1}} </h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror II -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[1].score.totalRedJuror2}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[1].score.totalBlueJuror2}} </h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror III -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[1].score.totalRedJuror3}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[1].score.totalBlueJuror3}} </h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror IV -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[1].score.totalRedJuror4}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[1].score.totalBlueJuror4}} </h3>
												</th>
												<th rowspan="4" style="width: 1.3%;"></th>

												<!-- juror V -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[1].score.totalRedJuror5}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[1].score.totalBlueJuror5}} </h3>
												</th>
											</tr>
											<tr>
												<th style="width: 8.5%;">
													<h3>II</h3>
												</th>
												<!-- juror I -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[2].score.totalRedJuror1}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[2].score.totalBlueJuror1}} </h3>
												</th>

												<!-- juror II -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[2].score.totalRedJuror2}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[2].score.totalBlueJuror2}} </h3>
												</th>

												<!-- juror III -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[2].score.totalRedJuror3}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[2].score.totalBlueJuror3}} </h3>
												</th>

												<!-- juror IV -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[2].score.totalRedJuror4}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[2].score.totalBlueJuror4}} </h3>
												</th>

												<!-- juror V -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[2].score.totalRedJuror5}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[2].score.totalBlueJuror5}} </h3>
												</th>

											</tr>
											<tr>
												<th style="width: 8.5%;">
													<h3>III</h3>
												</th>
												<!-- juror I -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[3].score.totalRedJuror1}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[3].score.totalBlueJuror1}} </h3>
												</th>

												<!-- juror II -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[3].score.totalRedJuror2}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[3].score.totalBlueJuror2}} </h3>
												</th>


												<!-- juror III -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[3].score.totalRedJuror3}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[3].score.totalBlueJuror3}} </h3>
												</th>


												<!-- juror IV -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[3].score.totalRedJuror4}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[3].score.totalBlueJuror4}} </h3>
												</th>


												<!-- juror V -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[3].score.totalRedJuror5}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[3].score.totalBlueJuror5}} </h3>
												</th>
											</tr>
											<tr>
												<th style="width: 8.5%;font-weight: bold;">
													<h5>FINAL SCORE</h5>
												</th>

												<!-- juror I -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[4].totalAllRoundRedJuror1}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[4].totalAllRoundBlueJuror1}} </h3>
												</th>

												<!-- juror II -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[4].totalAllRoundRedJuror2}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[4].totalAllRoundBlueJuror2}} </h3>
												</th>

												<!-- juror III -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[4].totalAllRoundRedJuror3}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[4].totalAllRoundBlueJuror3}} </h3>
												</th>

												<!-- juror IV -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[4].totalAllRoundRedJuror4}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[4].totalAllRoundBlueJuror4}} </h3>
												</th>

												<!-- juror V -->
												<th style="width: 8.5%; font-weight: bold;color: red;">
													<h3> {{scores[4].totalAllRoundRedJuror5}} </h3>
												</th>
												<th style="width: 8.5%; font-weight: bold;color: blue;">
													<h3> {{scores[4].totalAllRoundBlueJuror5}} </h3>
												</th>
											</tr>
										</tbody>
									</table>
								</div>

								<div>
									<div align="center">
										<h4 style="font-weight: bold;">WINNER</h4>
									</div>

									<div style="padding-left: 35%">
										<label>CORNER :</label>
										<div class="col-md-1" [style.background-color]="scores[0].winner.winnerSide"></div>
									</div>
									<div style="padding-left: 30%">
										<label>WINNING BY / POINTS : </label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--  -->

		</div>

	</div>

</body>