<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">

        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-4 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">List Participant</h4>
                            </div>
                            <div class="card-body">
                                <form class="container">
                                    <div class="row">
                                        <!-- AL COKOT TI DIEU -->
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Gender</label>
                                                <select #selectGender (change)="selClass($event)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option value="" disabled>-select-</option>
                                                    <option value="MALE"> Male</option>
                                                    <option value="FEMALE">Female</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Class</label>
                                                <select #selectKelas class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option value="" disabled>-select-</option>
                                                    <option *ngFor="let cls of classs" value="{{cls.classId}}"> {{cls.className}} </option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <button type="submit" (click)="getSelected(selectKelas.value, selectGender.value)" class="btn btn-primary pull-right">Preview & Print</button>
                                    <div class="clearfix"></div>
                                    <!-- AL COKOT TI DIEU -->

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Competition Scheme</h4>
                            </div>
                            <div class="card-body">
                                <form class="container">

                                    <div class="row" style="margin-top: -17px">
                                        <div class="col-md-12 pull-right">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Scheme Name</label>
                                                <select #schemeIdPar class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option disabled>-select-</option>
                                                    <option *ngFor="let scheme of schemeAll" value="{{scheme.schemeId}}">{{scheme.schemeName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <button (click)="routerScheme(schemeIdPar.value)" class="btn btn-primary pull-right">Preview </button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>