<div class="wrapper">

    <app-sidebar></app-sidebar>

    <div class="main-panel">
        <!-- MODAL EDIT -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form [formGroup]="formEdit">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Set Winner of Competition</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Name</label>
                                            <input type="text" class="form-control" formControlName="participantName" value="{{ participantsId?.participantName }}" required ngModel/>
                                            <input type="hidden" readonly class="form-control" formControlName="contingentId" value="{{ participantsId?.contingentId }}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Gender</label>
                                            <select formControlName="gender" (change)="selClass($event)" value="{{ participantsId?.gender }}" class="custom-select mb-2 mr-sm-2 mb-sm-0"
                                                id="inlineFormCustomSelect" required ngModel>
                                                <option>-select-</option>
                                                <option value="MALE"> Male</option>
                                                <option value="FEMALE">Female</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Class</label>
                                            <select (change)="selClassId(kelasSelect.value)" #kelasSelect required formControlName="classId" value="{{ participantsId?.className }}" class="custom-select mb-2 mr-sm-2 mb-sm-0"
                                                id="inlineFormCustomSelect" required ngModel>
                                                <option disabled>-select-</option>
                                                <option *ngFor="let cls of classs" value="{{cls.classId}}"> {{cls.className}} </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Place of Birth</label>
                                            <input type="text" class="form-control" formControlName="placeOfBirth" value="{{ participantsId?.placeOfBirth }}" required ngModel/>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Date of Birth</label>
                                            <input type="date" id="bd_" (change)="calculateAge($event)" class="form-control" formControlName="dateOfBirth" value="{{ participantsId?.dateOfBirth }}"
                                            max="{{ageMin | date:'yyyy-MM-dd'}}" min="{{ageMax | date:'yyyy-MM-dd'}}" title="Minimal {{ageMin | date:'yyyy-MM-dd'}}, Maximal {{ageMax | date:'yyyy-MM-dd'}}" required ngModel/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Age</label>
                                            <input type="number" id="age_bd_" class="form-control" formControlName="age" value="{{ participantsId?.age }}" min="{{classIds?.minAge}}"
                                                max="{{classIds?.maxAge}}" style="width:70px" disabled ngModel title="Minimal {{classIds?.minAge}}, Maximal {{classIds?.maxAge}}"
                                            />

                                        </div>
                                    </div>
                                    <input formControlName="minAge" #minAge value="{{classIds?.minAge}}" type="hidden" />
                                    <input formControlName="maxAge" #maxAge value="{{classIds?.maxAge}}" type="hidden" />
                                    <input formControlName="minWeight" #minWeight value="{{classIds?.minWeight}}" type="hidden" />
                                    <input formControlName="maxWeight" #maxWeight value="{{classIds?.maxWeight}}" type="hidden" />
                                    <div class="col-md-4 ">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Weight</label>
                                            <input type="number" class="form-control" required formControlName="weight" value="{{ participantsId?.weight }}" min="{{classIds?.minWeight}}" max="{{classIds?.maxWeight}}"
                                            style="width:70px" required ngModel title="Minimal {{classIds?.minWeight}}, Maximal {{classIds?.maxWeight}}"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Height</label>
                                            <input type="number" class="form-control" required formControlName="height" value="{{ participantsId?.height }}" max="220" min="50" ngModel title="Height range is 50cm - 220cm"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Address</label>
                                            <textarea rows="2" class="form-control" required formControlName="address" value="{{ participantsId?.address }}" required ngModel>
                                        </textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> &nbsp;&nbsp;
                            <button type="button" (click)="Update($event, participantsId.participantId, formEdit.value, formEdit.valid)" style="padding-left: 20px" data-dismiss="modal"
                                class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <!-- MODAL ADD -->

        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form [formGroup]=" formAdd ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Participant</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Name</label>
                                            <input type="text" class="form-control" formControlName="participantName" required ngModel/>
                                            <input type="hidden" readonly class="form-control" formControlName="contingentId" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Contingent</label>
                                            <select formControlName="contingentId" class="form-control" required ngModel>
                                                <option disabled>-select-</option>
                                                <option *ngFor="let cont of contingents" value="{{cont.contingentId}}">{{cont.contingentName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 ">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Gender</label>
                                            <select formControlName="gender" (change)="selClass($event)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect"
                                                required ngModel>
                                                <option disabled>-select-</option>
                                                <option value="MALE"> Male</option>
                                                <option value="FEMALE">Female</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Class</label>
                                            <select (change)="selClassId(kelasSelectt.value)" #kelasSelectt formControlName="classId" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" required ngModel>
                                                <option disabled>-select-</option>
                                                <option *ngFor="let cls of classs; let i = index" value="{{cls.classId}}"> {{cls.className}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Place of Birth</label>
                                            <input type="text" class="form-control" formControlName="placeOfBirth" required ngModel/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Date of Birth</label>
                                            <input type="date" id="ag_" (change)="calculateAge($event)" class="form-control" formControlName="dateOfBirth" 
                                            max="{{ageMin | date:'yyyy-MM-dd'}}" min="{{ageMax | date:'yyyy-MM-dd'}}" title="Minimal {{ageMax | date:'yyyy-MM-dd'}}, Maximal {{ageMin | date:'yyyy-MM-dd'}}" required ngModel/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Age</label>
                                            <input type="number" #age id="age_ag_" class="form-control" formControlName="age" min="{{classIds?.minAge}}" max="{{classIds?.maxAge}}"
                                                style="width:70px" disabled ngModel title="Minimal {{classIds?.minAge}}, Maximal {{classIds?.maxAge}}"
                                            />

                                        </div>
                                    </div>

                                    <input formControlName="minAge" #minAge value="{{classIds?.minAge}}" type="hidden" />
                                    <input formControlName="maxAge" #maxAge value="{{classIds?.maxAge}}" type="hidden" />
                                    <input formControlName="minWeight" #minWeight value="{{classIds?.minWeight}}" type="hidden" />
                                    <input formControlName="maxWeight" #maxWeight value="{{classIds?.maxWeight}}" type="hidden" />
                                    <div class="col-md-3 ">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Weight</label>
                                            <input type="number" class="form-control" formControlName="weight" min="{{classIds?.minWeight}}" max="{{classIds?.maxWeight}}"
                                                style="width:70px" required ngModel title="Minimal {{classIds?.minWeight}}, Maximal {{classIds?.maxWeight}}"
                                            />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Height</label>
                                            <input type="number" class="form-control" formControlName="height" required ngModel max="220" min="50" title="Height range is 50cm - 220cm"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Address</label>
                                            <textarea rows="2" class="form-control" formControlName="address" required ngModel>
                                                        </textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px">
                            <button type="button"  (click)="onNew()" class="btn btn-danger" data-dismiss="modal">Close</button> &nbsp;&nbsp;
                            <button type="submit" (click)="addPart($event, formAdd.value, age.value, minAge.value, maxAge.value, minWeight.value, maxWeight.value, formAdd.valid )"
                                 class="btn btn-primary pull-right">Add Participant</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Data Participant</h4>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Contingent</label>
                                                <select #selectCont class="form-control" id="filter-participant">
                                                    <option value="">--</option>
                                                    <option *ngFor="let cont of contingents" value="{{cont.contingentId}}">{{cont.contingentName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating" style="padding-bottom: 5px">Participant Name</label>
                                                <input #filterName class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Class</label>
                                                <select #selectClass class="form-control" id="exampleFormControlSelect2">
                                                    <option value="">--</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                    <option value="D">D</option>
                                                    <option value="E">E</option>
                                                    <option value="F">F</option>
                                                    <option value="G">G</option>
                                                    <option value="H">H</option>
                                                    <option value="I">I</option>
                                                    <option value="J">J</option>
                                                    <option value="FREE">FREE</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Gender</label>
                                                <select #selectGender class="form-control" id="FormControlSelect2">
                                                    <option value="">--</option>
                                                    <option value="MALE">Male</option>
                                                    <option value="FEMALE">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 " style="margin-top: 23px">
                                            <div class="form-group">
                                                <button (click)="onFilter(selectCont.value, selectClass.value, selectGender.value ,filterName.value)" type="button" class="btn btn-primary row">
                                                    <i class="material-icons md-48">filter_list</i> FILTER
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 " style="margin-top: 23px">
                                            <div class="form-group">
                                                <button (click)="onNew()" type="button" data-toggle="modal" data-target="#exampleModal1" rel="tooltip" class="btn btn-success pull-center">
                                                    ADD PARTICIPANT
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="table-responsive" style="max-height: 350px">
                                    <table class="table table-bordered table-sm">
                                        <thead class=" text-primary text-center">
                                            <th style="width: 7%">
                                                ID
                                            </th>
                                            <th style="width: 32%">
                                                Name
                                            </th>
                                            <th style="width: 10%">
                                                Class
                                            </th>
                                            <th style="width: 10%">
                                                Gender
                                            </th>
                                            <th style="width: 26%">
                                                Contingent
                                            </th>
                                            <th style="width: 10%">
                                                Action
                                            </th>
                                        </thead>
                                        <tbody style=" overflow-y: auto;">
                                            <tr *ngFor="let cat of participants">
                                                <td>
                                                    {{ cat.participantId }}
                                                </td>
                                                <td>
                                                    {{ cat.participantName }}
                                                </td>
                                                <td>
                                                    {{ cat.className }}
                                                </td>
                                                <td>
                                                    {{ cat.gender }}
                                                </td>
                                                <td>
                                                    {{ cat.contingentName }}
                                                </td>
                                                <td class="td-actions text-center">
                                                    <button (click)="updateParticipants(cat.participantId)" type="button" data-toggle="modal" data-target="#exampleModal" rel="tooltip"
                                                        class="btn btn-success pull-center">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button (click)="deleteParticipants(cat.participantId)" type="button" rel="tooltip" class="btn btn-danger pull-center">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>