.box-red {
  background-color: red;
  font-weight: bold;
  color: white;
  padding: 4px 8px;
}

.box-blue {
  background-color: blue;
  font-weight: bold;
  color: white;
  padding: 4px 8px;
}

.box-zero {
  padding: 4px 8px;
}

.td-juri {
  border: 1px solid black;
}

.tb-juri > thead > tr > th {
  border: 1px solid black;
  font-size: 14px;
  padding: 4px 8px;
}

.tb-juri > tbody > tr > th {
  border: 1px solid black;
  font-size: 18px;
  padding: 4px 8px;
}

.box-total1 {
  color: white;
  background-color: red;
}

.box-total2 {
  color: white;
  background-color: blue;
}

body {
  margin: 0;
  height: 100%;
}
