<div class="wrapper">
    <app-sidebar></app-sidebar>
    
    <div class="main-panel">
    
        <app-navbar></app-navbar>
        
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 container">
                        <div class="card">
                          <div class="card-body">
                              <div class="row" align="center">
                                  <div class="col-md-2">
                                    <div class="about-1-img"><img src="assets/img/ipsi.png" class="img-responsive" alt="" height="100px" width="100px"></div>
                                  </div>
                                      <div class="col-md-8">
                                          <div align="center">
                                              <p style="font-weight: bold;">
                                               COMPETITION STATISTICS<br>
                                                BABAK KUALIFIKASI PORDA JAWA BARAT XIII-2018<br>
                                                CISARUA BOGOR<br>
                                                17-21 DESEMBER 2017
                                              </p>
                                              <label style="color: black; font-size: 12px">CLASS / GENDER :</label><br>
                                              <label style="color: black; font-size: 12px">COMPETITON NO  :</label><br>
                                              <label style="color: black; font-size: 12px">REFEREE NAME   :</label>
                
                                            </div>
                                      </div>
                                      <div class="col-md-2">
                                    <div class="about-1-img"><img src="assets/img/cv-yoshi.jpg" class="img-responsive" alt="" height="100px" width="100px"></div>
                                      </div>
                                </div>
                          

                            <br>
                            <div class="table-responsive">
                              <table class="table table-bordered table-sm">
                                <thead style="font-size: 14px">
                                  <tr>
                                    <th style="width: 47%;font-size: 14px" class="box-red">
                                      Name : 
                                    </th>
                                    <th style="width: 6%" class="box-zero">

                                    </th>
                                    <th style="width: 47%;font-size: 14px" class="box-blue">
                                      Name : 
                                    </th>
                                  </tr>
                                  <tr>
                                    <th style="width: 47%;font-size: 14px" class="box-red">
                                      Contingent : 
                                    </th>
                                    <th style="width: 6%" class="box-zero">

                                    </th>
                                    <th style="width: 47%;font-size: 14px" class="box-blue">
                                      Contingent : 
                                    </th>
                                  </tr>
                                </thead>
                              </table>
                            </div>  

                            <div align="center">
                              <label style="color: black; font-size: 16px; font-weight: bold;">Total Score </label><br>
                              <label style="color: black; font-size: 16px; font-weight: bold;">13    -     17 </label><br>
                              <br>
                
                              <label style="color: black; font-size: 14px">Kick Amount </label><br>
                              <label style="color: black; font-size: 14px">Kick on Target  </label><br>
                              <label style="color: black; font-size: 14px">Kick Missed on Target  </label><br>
                              <label style="color: black; font-size: 14px">Punch Amount </label><br>
                              <label style="color: black; font-size: 14px">Punch on Target  </label><br>
                              <label style="color: black; font-size: 14px">Punch Missed on Target   </label><br>
                              <label style="color: black; font-size: 14px">Fallen Amount </label><br>
                              <label style="color: black; font-size: 14px">Valid Fallen  </label><br>
                              <label style="color: black; font-size: 14px">Failed Fallen   </label><br>
                               <label style="color: black; font-size: 14px">Repel Amount </label><br>
                              <label style="color: black; font-size: 14px">Dodge Amount  </label><br>
                              <label style="color: black; font-size: 14px">Punishment Amount   </label><br>

                            </div>

                          </div>
                        </div>                
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>