<div class="wrapper">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 container">
					<div class="card">
						<div align="center" class="card-header">
							<button (click)="printToCart('printSectionId')" class="button col-md-2">Print</button>
						</div>

						<div class="card-body" id="printSectionId">
							<div class="row" align="center">
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/ipsi.png" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
								<div class="col-md-8">
									<div align="center">
										<p style="font-weight: bold;font-size: 20px">
											REPORT WEIGHT VALIDATION
											<br> {{champName}}
											<br> {{champLocation}}
											<br> {{champTgl}}
										</p>
									</div>
								</div>
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/cv-yoshi.jpg" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
							</div>

							<div>
								<div class="row">
									<div class="col-md-6" style="padding-left: 40px">
										<div class="row">
											<label class="col-md-4" style="color: black; font-size: 14px; font-weight: bold;">Date </label>
											<label class="col-md-8" style="color: black; font-size: 14px; font-weight: bold;">: {{dateWei | date:'yMMMMEEEEd'}}</label>
										</div>
										<div class="row">
											<label class="col-md-4" style="color: black; font-size: 14px; font-weight: bold;">Class </label>
											<label class="col-md-8" style="color: black; font-size: 14px; font-weight: bold;">: {{contentData.className}} / {{contentData.gender}} </label>
										</div>
									</div>
									<div class="col-md-6" style="padding-left: 40px">
										<div class="row">
											<label class="col-md-5" style="color: black; font-size: 14px; font-weight: bold;">Round </label>
											<label class="col-md-7" style="color: black; font-size: 14px; font-weight: bold;">: {{contentData.round}}</label>
										</div>
										<div class="row">
											<label class="col-md-5" style="color: black; font-size: 14px; font-weight: bold;">Competition Number </label>
											<label class="col-md-7" style="color: black; font-size: 14px; font-weight: bold;">: {{contentData.competitionId}}</label>
										</div>
									</div>
								</div>
							</div>
							<div align="center">
								<p style="font-weight: bold;font-size: 20px">
									<br>BETWEEN :
									<br>
								</p>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered table-sm">
									<thead align="center">
										<tr>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px;background-color: red  !important;font-weight: bold;color: white !important;padding: 4px 8px;">
												RED CORNER
											</td>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;padding: 4px 8px;">

											</th>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px;background-color: blue  !important;font-weight: bold;color: white;padding: 4px 8px;">
												BLUE CORNER
											</td>
										</tr>
										<tr style="border: 1px solid black">
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												{{contentData.redCornerName}}
											</td>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;padding: 4px 8px;">
												NAME
											</td>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												{{contentData.blueCornerName}}
											</td>
										</tr>
										<tr>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												{{contentData.redCornerContingent}}
											</td>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;padding: 4px 8px;">
												CONTINGENT
											</td>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												{{contentData.blueCornerContingent}}
											</td>
										</tr>
										<tr>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												{{contentData.redCornerWeight}}kg
											</td>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;padding: 4px 8px;">
												WEIGHT
											</td>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												{{contentData.blueCornerWeight}}kg
											</td>
										</tr>
									</thead>
								</table>
							</div>

							<div align="center">
								<p style="font-weight: bold;font-size: 20px">
									<br>DECLARE :
									<br>
								</p>
							</div>

							<div class="table-responsive">
								<table class="table table-bordered table-sm ">
									<thead align="center">
										<tr>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												VALID / NOT VALID
											</td>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;padding: 4px 8px;">

											</th>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												VALID / NOT VALID
											</td>
										</tr>

										<tr>
											<th style="border: 1px white !important">
												<br>
											</th>
											<th style="border: 1px white !important">
												<br>
											</th>
											<th style="border: 1px white !important">
												<br>
											</th>
										</tr>
										<tr>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												Red Corner Official
											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px;padding: 4px 8px;">
												Functionary
											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												Blue Corner Official
											</th>
										</tr>
										<tr>
											<th colspan="3" style="border: 1px white !important">
												<br>
												<br>
												<br>
											</th>
										</tr>
										<tr>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												........................
											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px;padding: 4px 8px;">
												........................
											</th>
											<th style="border: 1px white !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 35%;font-size: 14px">
												........................
											</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>