<link rel="stylesheet" type="text/css"  href="assets/css/signin.css">

  <div class="text-center container card col-sm-3" style="margin-top: 100px">
 
    <form [formGroup]="myLoginForm"  (ngSubmit)="onSubmit($event, myLoginForm.value, myLoginForm.valid)" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal" style="padding-bottom: 10px">Please sign in</h1>
      <label class="sr-only">Email address</label>
      <input class="form-control" formControlName="username" type="text" id="inputEmail" placeholder="Username" required autofocus>
      <small class="text-danger" *ngIf="myLoginForm.get('username').touched && myLoginForm.get('username').hasError('required')">
        Password is required !
      </small>
      <label class="sr-only">Password</label>
      <input class="form-control" formControlName="password" type="password" id="inputPassword" placeholder="Password" required ngModel>
      <small class="text-danger" *ngIf="myLoginForm.get('password').touched && myLoginForm.get('password').hasError('required')">
        Password is required !
      </small>
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
  
  </div>

