<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">

        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card container">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">Competition Scheme</h4>
                            </div>
                            <div class="row ">
                                <div class="card-body">
                                    <div class=" card-body col-md-8" style="background-color: #efefef">
                                        <form [formGroup]="formViewScheme" (ngSubmit)="onViewScheme(formViewScheme.value)">
                                            <div class="row">

                                                <div class="col-md-12 pull-right">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Scheme Name</label>
                                                        <select #selectGender class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="schemeId">
                                                            <option disabled>-select-</option>
                                                            <option *ngFor="let scheme of schemeAll" value="{{scheme.schemeId}}">{{scheme.schemeName}}</option>
                                                        </select>
                                                    </div>

                                                    <input type="text" class="form-control " formControlName="championshipId" value="1" hidden disabled>
                                                </div>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary pull-center">View</button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class=" card-body col-md-10" style="background-color: #efefef">
                                        <form [formGroup]="formGenerate" (ngSubmit)="onSubmit(formGenerate.value)">
                                            <div class="row">
                                                <div class="col-md-3 pull-right">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Gender</label>
                                                        <select (change)="selClass($event)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                            <option disabled>-select-</option>
                                                            <option value="MALE"> Male</option>
                                                            <option value="FEMALE">Female</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Class</label>
                                                        <select #selectKelas class="custom-select mb-2 mr-sm-2 mb-sm-0" formControlName="classId" id="inlineFormCustomSelect">
                                                            <option disabled>-select-</option>
                                                            <option *ngFor="let cls of classs" value="{{cls.classId}}">{{cls.className}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 pull-right">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Scheme Name</label>
                                                        <input type="text" class="form-control" formControlName="schemeName" required>
                                                        <input type="text" class="form-control " formControlName="championshipId" value="1" hidden disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary pull-right col-md-12">Random Participant</button>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <!-- add by @kaha -->
                            <div class="col-md-12" style="overflow-x: auto; background-color: rgb(56, 61, 68)">
                              <div id="my_gracket" style="background-color: rgb(56, 61, 68)"></div>
                            </div>
                            <!-- end add by @kaha -->
                        </div>
                    </div>
                </div>
            </div>

            <app-footer></app-footer>

        </div>
    </div>
</div>