<div class="wrapper">
	<div class="content" #content>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 container">
					<div class="card">
						<div align="center" class="card-header">
							<button (click)="printToCart('printSectionId')" class="button col-md-2">Print</button>
						</div>

						<div class="card-body" id="printSectionId">
							<div class="row" align="center">
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/ipsi.png" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
								<div class="col-md-8">
									<div align="center">
										<p style="font-weight: bold;font-size: 20px">
											REPORT LIST PARTICIPANT
											<br> BABAK KUALIFIKASI PORDA JAWA BARAT XIII-2018
											<br> CISARUA BOGOR
											<br> 17-21 DESEMBER 2017
										</p>
										<label style="color: black; font-size: 12px">CLASS / GENDER : {{participants[1]?.className}} / {{participants[1]?.gender}}</label>
										<br>
										<label style="color: black; font-size: 12px">Number of Participant : {{participants.length}}</label>
										<br>

									</div>
								</div>
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/cv-yoshi.jpg" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
							</div>

							<br>
							<br>
							<div class="table-responsive">
								<table class="table table-bordered table-sm ">
									<tbody align="center">
										<tr>
											<td style="width: 10%; font-size: 14px; border: 1px solid black !important;padding: 4px 8px;font-weight: bold;">
												NO
											</td>
											<td style="width: 45%; font-size: 14px; border: 1px solid black !important;padding: 4px 8px;font-weight: bold;">
												NAME
											</td>
											<td style="width: 45%;font-size: 14px; border: 1px solid black !important;padding: 4px 8px;font-weight: bold;">
												CONTINGENT
											</td>

										</tr>
										<tr *ngFor="let data of participants; let i = index" >
											<th style="width: 10%; font-size: 14px; border: 1px solid black !important;padding: 4px 8px;font-weight: bold;">
												{{i+1}}
											</th>
											<th style="width: 45%; font-size: 14px; border: 1px solid black !important;padding: 4px 8px;font-weight: bold;">
													{{ data.participantName }}
											</th>
											<th style="width: 45%;font-size: 14px; border: 1px solid black !important;padding: 4px 8px;font-weight: bold;">
													{{ data.contingentName }}
											</th>

										</tr>

									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>