<footer class="footer ">
    <div class="container-fluid">
        
        <div class="copyright pull-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with love by
            <a href="" target="_blank">KoTA 6.</a>
        </div>
    </div>
  </footer>