<link rel="stylesheet" type="text/css"  href="assets/css/style.css">

<link rel="stylesheet" type="text/css"  href="assets/css/bootstrap.css">

<app-navbar-online></app-navbar-online>

<!-- About Section -->
<div id="about">
  <div class="container set_container">
    <form [formGroup]="formAdd" novalidate (ngSubmit) = "onSubmit($event, formAdd.value, formAdd.valid)">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12">
          <h2>GROUP</h2>
          <select  (change)="selGroup($event)" id="group_list" class="form-control " style="width:200px"  >
            <option *ngFor="let grp of groups" value="{{grp.groupId}}" >
              {{ grp.groupName }}
            </option>
          </select>
          
        </div>
        <div formArrayName="items" class="col-xs-12 col-md-12" style="padding-top: 10px;">           
          <table class="table table-striped table-sm" style="padding-left: 10px;padding-right: 10px; overflow-y: auto; width: 150%">
            <thead>
              <tr style="text-align: center;">
                <th>Class</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Place of Birth</th>
                <th>Date of Birth</th>
                <th>Age</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cls of formAdd.controls.items.controls; index as i" [formGroupName]="i" >
                
                <td>
                    <input formControlName="className" value="{{cls.get('className').value}} " type="text" name="name_participant" style="width:60px" disabled />
                    <input formControlName="classId" value="{{cls.get('classId').value}} " type="hidden" name="name_participant" style="width:160px" disabled />
                  </td>
                <td>
                  <input formControlName="participantName" ng-model="participantName" class="form-control" type="text" name="participantName" style="width:160px" required ngModel />
                  <!-- <small class="text-danger" *ngIf="formAdd.get('participantName').touched && formAdd.get('participantName').hasError('required')">
                    participantName is required !
                  </small> -->
                </td>
               
                <td>
                  <input formControlName="gender" class="form-control" value="{{cls.get('gender').value}}" type="text" name="age_participant" style="width:70px" disabled />
                  <input formControlName="indexNum" type="hidden" name="indexNum" />
                </td>
                <td>
                  <input formControlName="placeOfBirth" class="form-control" type="text" name="place_birth" style="width:160px" required ngModel/>
                </td>
                <td>
                  <input formControlName="dateOfBirth" id="bd_{{i}}" (change)="calculateAge($event)" class="form-control" type="date" name="date_birth[]" style="width:140px" required ngModel/>
                </td>
                <td>
                  <input formControlName="age" class="form-control" type="number" id="age_bd_{{i}}"  name="age_participant[]" style="width:70px" ngModel readonly min="{{cls.get('minAge').value}}" max="{{cls.get('maxAge').value}}" title="Age range is {{cls.get('minAge').value}} - {{cls.get('maxAge').value}}" />
                  <input formControlName="minAge" type="hidden" />
                  <input formControlName="maxAge" type="hidden" />
                  <input formControlName="minWeight" type="hidden" />
                  <input formControlName="maxWeight" type="hidden" />                
                </td>
                <td>
                  <input formControlName="height" class="form-control" type="number" name="height_participant" style="width:70px" required max="220" min="50" ngModel title="Height range is 50cm - 220cm" />
                </td>
                <td>
                  <input formControlName="weight" class="form-control" type="number" name="weight_participant" min="{{cls.get('minWeight').value}}" max="{{cls.get('maxWeight').value}}" style="width:70px" required ngModel title="Minimal {{cls.get('minWeight').value}}, Maximal {{cls.get('maxWeight').value}}" />
                </td>
                <td>
                  <input formControlName="address" class="form-control" type="test" name="address_participant" style="width:160px" required ngModel />
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-6"></div>
        <div class="col-xs-12 col-md-6">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
  </form>
  </div>
</div>

<app-footer-online></app-footer-online>