<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" [routerLink]="['/home']">Championship : {{champName}}</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p class="navbar-brand" style="padding-top: 20px">Select Championship</p>
                </li>
                <li class="nav-item">
                    <div>
                        <select (change)="onChamp($event)" class="custom-select mb-2 mr-sm-2 mb-sm-0"  >
                            <option disabled selected>-select-</option>
                            <option *ngFor="let arn of champ" value="{{arn.championshipId}}" [selected]="arn.championshipId == champIdSelect"> {{arn.championshipName}} </option>
                        </select>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">
                        <i class="material-icons">person</i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" [routerLink]="['/signin']"  >
                        <i class="material-icons">input</i>
                        <p>
                            <span class="d-lg-none d-md-block">Logout</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->