<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">

        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Button trigger modal -->


                    <!-- Modal -->


                    <div class="col-md-12 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Monitoring Competition</h4>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12" style="margin-top: -50px">
                                    <div class="form-group row">
                                        <!--DARI SINI-->
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Arena</label>
                                                <select #selectArena (change)="selArena($event)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option disabled>-select-</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Schedule Session</label>
                                                <select #selectSession class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option disabled value="">-select-</option>
                                                    <option *ngFor="let list of monitorList; let i = index" value="?round={{list.round}}&timeStart={{list.timeStart}}&timeEnd={{list.timeEnd}}">
                                                        Round {{list.round}} | {{list.timeStart}} - {{list.timeEnd}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <!--DARI SINI-->



                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <!--      DARI SINI                                  -->
                                                <button type="submit" (click)="onShows(selectSession.value, selectArena.value)" class="btn btn-primary pull-left" style="margin-top: 28px;">Show Competition</button>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-2">
                                            <div class="form-group">
                                                <button type="submit" [routerLink]="['/view-statistics']" class="btn btn-primary pull-left" style="margin-top: 28px;">View Statistics</button>
                                            </div>
                                        </div> -->
                                    </div>


                                </div>
                                <div class="row">
                                    <br>
                                    <br>
                                </div>
                                <div class="table-responsive container" style="max-height: 500px">
                                    <table class="table table-bordered table-sm">
                                        <thead class=" text-primary text-center">
                                            <th style="width: 5%">
                                                Compt Number
                                            </th>
                                            <th style="width: 10%">
                                                Class
                                            </th>
                                            <th style="width: 25%; background-color: red; ">
                                                <font style="color: white">Name
                                                    <br> Contingent
                                                </font>
                                            </th>
                                            <th style="width: 5%">
                                                VS
                                            </th>
                                            <th style="width: 25%; background-color: blue">
                                                <font style="color: white">Name
                                                    <br> Contingent
                                                </font>
                                            </th>
                                            <th style="width: 5%">
                                                Winner
                                            </th>
                                            <th style="width: 7%">
                                                Winning by Point
                                            </th>
                                            <th style="width: 28%" class="text-center">
                                                Action
                                            </th>
                                        </thead>
                                        <tbody style=" overflow-y: auto;">
                                            <tr *ngFor="let mon of monitors">
                                                <td>
                                                    {{ mon.competitionId }}
                                                </td>
                                                <td>
                                                    {{ mon.className }}
                                                </td>
                                                <td>
                                                    {{ mon.redCorner.participantName }}
                                                    <br> {{ mon.redCorner.contingentName }}
                                                </td>
                                                <td>
                                                    X
                                                </td>
                                                <td>
                                                    {{ mon.blueCorner.participantName }}
                                                    <br> {{ mon.blueCorner.contingentName }}
                                                </td>
                                                <td [style.background-color]="mon.winnerSide" style="margin: 10px">
                                                    
                                                </td>
                                                <td>
                                                    {{ mon.winStatus }}
                                                </td>
                                                <td class="td-actions text-center">
                                                    <div *ngIf="mon.winnerSide == null">
                                                        <form [formGroup]="formScoring">
                                                            <div class="column">
                                                                <div class="row col-md-12" style="margin-right: 15px; margin-left: 5px; margin-top: -5px">
                                                                    <div class="col-md-4" container>
                                                                        <input class="form-check-input" formControlName="round" type="radio" name="round" id="round1_{{mon.competitionId}}" value="1"
                                                                            checked>
                                                                        <p>I</p>
                                                                    </div>
                                                                    <div class="col-md-4" container>
                                                                        <input class="form-check-input" formControlName="round" type="radio" name="round" id="round2_{{mon.competitionId}}" value="2"
                                                                            [attr.disabled]="true">
                                                                        <p>II</p>
                                                                    </div>
                                                                    <div class="col-md-4" container>
                                                                        <input class="form-check-input" formControlName="round" type="radio" name="round" id="round3_{{mon.competitionId}}" value="3"
                                                                            [attr.disabled]="true">
                                                                        <p>III</p>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-top: -13px">
                                                                    <button id="start_{{mon.competitionId}}" (click)="onStart(formScoring.value,mon.competitionId)" type="button" rel="tooltip"
                                                                        class="btn btn-info">
                                                                        START
                                                                    </button>
                                                                    <button type="button" id="stop_{{mon.competitionId}}" (click)="onStop(formScoring.value,mon.competitionId)" rel="tooltip"
                                                                        class="btn btn-success" [attr.disabled]="true">
                                                                        STOP
                                                                    </button>
                                                                    <button type="button" id="finish_{{mon.competitionId}}" (click)="sendId(mon.competitionId)" data-toggle="modal" data-target="#exampleModal"
                                                                        rel="tooltip" class="btn btn-danger">
                                                                        FINISH
                                                                    </button>
                                                                    <input type="text" #competId hidden value="{{mon.competitionId}}">
                                                                </div>
                                                            </div>

                                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Set Winner of Competition</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label class="bmd-label-floating">Win Based</label>
                                                                                        <select formControlName="winStatus" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                                                            <option value="score">Angka | By Point</option>
                                                                                            <option value="K.O">Mutlak |Knock Out</option>
                                                                                            <option value="W.M.P">W.M.P (Wasit Menghentikan Pertandingan</option>
                                                                                            <option value="W.O">Undur Diri|Walk Out</option>
                                                                                            <option value="DIS">Diskualifikasi | Discualification</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label class="bmd-label-floating">winning corner</label>
                                                                                        <select formControlName="winner" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                                                            <option disabled>- select -</option>
                                                                                            <option value="RED" style="background-color: red; color: white">
                                                                                                <font>RED</font>
                                                                                            </option>
                                                                                            <option value="BLUE" style="background: blue; color: white ">
                                                                                                <font>BLUE</font>
                                                                                            </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px">
                                                                            <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
                                                                            <button type="button" (click)="onFinish(formScoring.value, competId.value )" class="btn btn-primary">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>