<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form [formGroup]="formEdit">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Set Winner of Competition</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Championship</label>
                                        <input type="text" class="form-control" formControlName="championshipName" value="{{ championshipsId?.championshipName }}"
                                            required ngModel/>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Date Start</label>
                                            <input #dateStart [value]="dated | date:'yyyy-MM-dd'" (change)="setDateEnd(date=parseDate($event.target.value))" type="date" class="form-control" formControlName="dateStart" value="{{ championshipsId?.dateStart }}" required ngModel
                                            min="{{minDateStart | date:'yyyy-MM-dd'}}" max="{{maxDateStart | date:'yyyy-MM-dd'}}" title="Minimal {{minDateStart | date:'yyyy-MM-dd'}} - Maximal {{maxDateStart | date:'yyyy-MM-dd'}}">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Date End</label>
                                            <input type="date" class="form-control" formControlName="dateEnd" value="{{ championshipsId?.dateEnd }}" required ngModel
                                            min="{{minDateEnd} | date:'yyyy-MM-dd'}" max="{{maxDateEnd | date:'yyyy-MM-dd'}}" title="Minimal {{minDateEnd | date:'yyyy-MM-dd'}} - Maximal {{maxDateEnd | date:'yyyy-MM-dd'}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Location</label>
                                        <textarea class="form-control" formControlName="location" value="{{ championshipsId?.location }}" rows="1" required ngModel></textarea>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Description</label>
                                        <textarea class="form-control" formControlName="description" placeholder="{{ championshipsId?.description }}" required ngModel></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px">
                            <button type="button" class="btn btn-danger" #closeAddExpenseModal data-dismiss="modal">Close</button>
                            <button type="button" (click)="Update($event, championshipsId.championshipId, formEdit.value, formEdit.valid)" style="padding-left: 20px"
                                class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- <popup #popup1 [formGroup]="formEdit" (confirmClick)="Update( championshipsId.championshipId, formEdit.value )">
            <div *ngIf="championshipsId">
                <div  style="width: 120%; padding-top: -70px;" class="container">
                    <div class="">
                        <div class="form-group">
                            <label class="bmd-label-floating">Championship</label>
                            <input type="text" class="form-control" formControlName="championshipName" value="{{ championshipsId.championshipName }}"/>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Date Start</label>
                                <input type="date" class="form-control" formControlName="dateStart" value="{{ championshipsId.dateStart }}"/>

                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Date End</label>
                                <input type="date" class="form-control" formControlName="dateEnd" value="{{ championshipsId.dateEnd }}"/>

                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <label class="bmd-label-floating">Description</label>
                            <input type="text" class="form-control" formControlName="description" placeholder="{{ championshipsId.description }}" />
                        </div>
                    </div>
                    
                </div>
            </div> 

        </popup>
         -->
        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-5 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">New Data Championship</h4>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="formAdd" (ngSubmit)="onSubmit($event, formAdd.value, formAdd.valid)">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top: -15px">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Championship Name</label>
                                                <input type="text" class="form-control" formControlName="championshipName" required ngModel>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top: -17px">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Location</label>
                                                <textarea class="form-control" formControlName="location" rows="1" required ngModel></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top: -17px">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Description</label>
                                                <textarea class="form-control" formControlName="description" rows="2" required ngModel></textarea>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-left: 15px; margin-top: -17px">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Date Start</label>
                                                    <input #dateStartt (change)="setDateEnd(dateStartt.value)" type="date" formControlName="dateStart" class="form-control" required ngModel
                                                    min="{{minDateStart | date:'yyyy-MM-dd'}}" max="{{maxDateStart | date:'yyyy-MM-dd'}}" title="Minimal {{minDateStart | date:'yyyy-MM-dd'}} - Maximal {{maxDateStart | date:'yyyy-MM-dd'}}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Date End</label>
                                                    <input type="date" formControlName="dateEnd" class="form-control" required ngModel
                                                    min="{{minDateEnd | date:'yyyy-MM-dd'}}" max="{{maxDateEnd | date:'yyyy-MM-dd'}}" title="Minimal {{minDateEnd | date:'yyyy-MM-dd'}} - Maximal {{maxDateEnd | date:'yyyy-MM-dd'}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary pull-right">SET DATA CHAMPIONSHIP</button>
                                    <div class="clearfix"></div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Data Championship</h4>
                        </div>
                        <div class="card-body">
                            <div class="row" style="margin-top: -17px">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Championship Name</label>
                                        <input #selectName type="text" class="form-control" />

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Date Start</label>
                                        <input #selectStart type="date" class="form-control" />

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Date End</label>
                                        <input #selectEnd type="date" class="form-control" />

                                    </div>
                                </div>
                                <div class="col-md-2 " style="margin-top: 23px">
                                    <div class="form-group">
                                        <button (click)="onFilter(selectName.value, selectStart.value, selectEnd.value)" type="button" class="btn btn-primary row">
                                            <i class="material-icons md-48">filter_list</i> FILTER
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="max-height: 323px">
                                <table class="table table-bordered table-sm">
                                    <thead class=" text-primary text-center">
                                        <th style="width: 5%">
                                            ID
                                        </th>
                                        <th style="width: 15%">
                                            Championship Name
                                        </th>
                                        <th style="width: 15%">
                                            Location
                                        </th>
                                        <th style="width: 10%">
                                            Date Start
                                        </th>
                                        <th style="width: 10%">
                                            Date End
                                        </th>
                                        <th style="width: 40%">
                                            Description
                                        </th>
                                        <th style="width: 15%">
                                            Action
                                        </th>
                                    </thead>
                                    <tbody style=" overflow-y: auto;">
                                        <tr *ngFor="let champ of championships">
                                            <td>
                                                {{champ.championshipId}}
                                            </td>
                                            <td>
                                                {{champ.championshipName}}
                                            </td>
                                            <td>
                                                {{champ.location}}
                                            </td>
                                            <td>
                                                {{champ.dateStart}}
                                            </td>
                                            <td>
                                                {{champ.dateEnd}}
                                            </td>
                                            <td>
                                                {{champ.description}}
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" (click)="updateChampionships(champ.championshipId)" data-toggle="modal" data-target="#exampleModal"
                                                    rel="tooltip" class="btn btn-success">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" (click)="deleteChampionships(champ.championshipId)" class="btn btn-danger">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>