<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">

        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-5 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Schedule List</h4>
                            </div>
                            <div class="card-body">
                                <div class="row" style="margin-top: -17px">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Arena</label>
                                            <select #pilihArena class="custom-select " id="inlineFormCustomSelect">
                                                <option value="" disabled>-select-</option>
                                                <option *ngFor="let arn of arenas" value="{{arn.arenaId}}"> {{arn.arenaId}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Date</label>
                                            <input #pilihDate (change)="setSession(pilihArena.value, pilihDate.value)" type="date" class="form-control" />

                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: -17px">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Session Time</label>
                                            <select #selectSessionTime class="custom-select " id="FormControlSelect2">
                                                <option value="">--</option>
                                                <option *ngFor="let sched of session" value="&timeStart={{sched.timeStart}}&timeEnd={{sched.timeEnd}}">{{sched.timeStart}} - {{sched.timeEnd}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-1 " style="margin-top: 23px">
                                        <div class="form-group">
                                            <button (click)="onFilter(pilihArena.value, pilihDate.value ,selectSessionTime.value)" type="button" class="btn btn-primary row">
                                                <i class="material-icons md-48">filter_list</i> FILTER
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive" style="max-height: 500px">
                                    <table class="table table-bordered table-sm">
                                        <thead class="text-primary text-center">
                                            <th style="width: 25%">
                                                Date
                                            </th>
                                            <th style="width: 25%">
                                                Arena
                                            </th>
                                            <th style="width: 10%">
                                                Time Start
                                            </th>
                                            <th style="width: 10%">
                                                Time End
                                            </th>

                                            <th style="width: 15%">
                                                Action
                                            </th>
                                        </thead>
                                        <tbody style=" overflow-y: auto;">
                                            <tr *ngFor="let jur of schedulesTable">
                                                <td>
                                                    {{jur?.date}}
                                                </td>
                                                <td>
                                                    {{jur?.arenaId}}
                                                </td>
                                                <td>
                                                    {{jur?.timeStart}}
                                                </td>
                                                <td>
                                                    {{jur?.timeEnd}}
                                                </td>
                                                <td class="td-actions text-center">
                                                    <form [formGroup]="formDelete" >
                                                        <input type="date" hidden #schedDate value="{{jur.date}}">
                                                        <input type="text" hidden #schedArena value="{{jur.arenaId}}">
                                                        <input type="time" hidden #schedStart value="{{jur.timeStart}}">
                                                        <input type="time" hidden #schedEnd value="{{jur.timeEnd}}">
                                                    </form>
                                                    <button type="button" rel="tooltip" (click)="deleteSchedule(formDelete.value, schedDate.value, schedArena.value, schedStart.value, schedEnd.value)" class="btn btn-danger">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-7 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Detail Competition</h4>
                            </div>
                            <div class="card-body ">

                                <div class="row">
                                    <form [formGroup]="formSetJadwal" class="col-md-12">
                                        <div class="form-group row " style="margin-top: -15px">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Date Start</label>
                                                    <input #dateCheck (change)="setDate(dateCheck.value)" type="date" class="form-control" formControlName="date" 
                                                    min="{{champStart | date:'yyyy-MM-dd'}}" max="{{champEnd | date:'yyyy-MM-dd'}}" title="Championship Date Minimal {{champStart | date:'yyyy-MM-dd'}} Maximal {{champEnd | date:'yyyy-MM-dd'}} ">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Time Start</label>
                                                    <input type="time" #timeStart class="form-control" (change)="setTimeEnd(timeStart.value)" min="06:00" max="20:00" title="Time Start should be >= 06:00 and <= 20:00."
                                                        formControlName="timeStart">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Time End</label>
                                                    <input type="time" disabled class="form-control" title="Time End automatically set by Time Start" value="{{endTime}}" formControlName="timeEnd">
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Arena</label>
                                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="arenaId">
                                                        <option value="" disabled>-select-</option>
                                                        <option *ngFor="let arn of arenas" value="{{arn.arenaId}}"> {{arn.arenaName}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row " style="margin-top: -15px">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Grand Juror</label>
                                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="grandJurorId">
                                                        <option value="" disabled>-select-</option>
                                                        <option *ngFor="let jur of grands" value="{{jur.grandJurorId}}"> {{jur.grandJurorName}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Juror 1</label>
                                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="jurorId1">
                                                        <option value="" disabled>-select-</option>
                                                        <option *ngFor="let jur of jurors" value="{{jur.jurorId}}">{{jur.jurorName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Juror 2</label>
                                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="jurorId2">
                                                        <option value="" disabled>-select-</option>
                                                        <option *ngFor="let jur of jurors" value="{{jur.jurorId}}">{{jur.jurorName}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group row" style="margin-top: -15px">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Juror 3</label>
                                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="jurorId3">
                                                        <option value="" disabled>-select-</option>
                                                        <option *ngFor="let jur of jurors" value="{{jur.jurorId}}">{{jur.jurorName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Juror 4</label>
                                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="jurorId4">
                                                        <option value="" disabled>-select-</option>
                                                        <option *ngFor="let jur of jurors" value="{{jur.jurorId}}">{{jur.jurorName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Juror 5</label>
                                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="jurorId5">
                                                        <option value="" disabled>-select-</option>
                                                        <option *ngFor="let jur of jurors" value="{{jur.jurorId}}">{{jur.jurorName}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-top: -15px">

                                                <div class="row">
                                                    <div class="col-md-4 ">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Gender</label>
                                                            <select (change)="selClass($event)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                                <option value="" disabled>-select-</option>
                                                                <option value="MALE"> Male</option>
                                                                <option value="FEMALE">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Class</label>
                                                            <select #selectKelas (change)="getRounds(selectKelas.value)" class="custom-select mb-2 mr-sm-2 mb-sm-0" formControlName="classId"
                                                                id="inlineFormCustomSelect">
                                                                <option value="" disabled>-select-</option>
                                                                <option *ngFor="let cls of classs" value="{{cls.classId}}"> {{cls.className}} </option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="bmd-label-floating">Round</label>
                                                            <select #selectRound class="custom-select mb-2 mr-sm-2 mb-sm-0" formControlName="qualification">
                                                                <option value="" disabled>-select-</option>
                                                                <option *ngFor="let rnd of rounds" value="{{rnd.round}}"> {{rnd.roundName}} </option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 ">
                                                        <div class="form-group">
                                                            <button (click)="onView( selectKelas.value,selectRound.value)" type="submit" class=" btn btn-primary pull-left" style="margin-top: 28px; margin-left: -8px ">View</button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="clearfix"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-top: -15px">
                                                <div class="row">
                                                    <div class="card col-md-9" style="height: 150px; margin-left: 18px;  ">
                                                        <label class="bmd-label-floating">Select Comeptition Number</label>

                                                        <div class="card-body ">
                                                            <div class="row">
                                                                <div *ngFor="let data of schedules;let i = index" class="col-md-2">
                                                                    <!-- *ngIf="data.date; then onChange(data.competitionId, true)" -->
                                                                    <div *ngIf="data.date == null">
                                                                        <input type="checkbox" class="form-check-input" (change)="onChange(data.competitionId, $event.target.checked)">
                                                                        <p class="">{{data.competitionId}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="column">
                                                        <div class="col-md-3" style="margin-left:px">
                                                            <div class="form-group ">
                                                                <button type="submit" (click)="onAdd(formSetJadwal.value)" class="btn btn-primary pull-left ">Add</button>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3" style="margin-left:px">

                                                            <div class="form-group ">
                                                                <button type="submit" (click)="onFinish()" class="btn btn-primary pull-left ">Finish</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10" style="margin-top: -20px">
                                            <div class="form-group">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <label class="bmd-label-floating">Competition Number</label>

                                                        <div class="row" *ngIf="scheduleGet">
                                                            <div class="col-md-4">
                                                                <p>Date : {{scheduleGet[0].date}} </p>
                                                                <p>Time Start : {{scheduleGet[0].timeStart}} </p>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <p>Time End : {{scheduleGet[0].timeEnd}} </p>
                                                                <p>Arena : {{scheduleGet[0].arenaId}} </p>
                                                            </div>
                                                        </div>

                                                        <div class="table-responsive" style="max-height:800px">
                                                            <table class="table table-striped table-sm">
                                                                <thead class=" text-primary ">
                                                                    <th>
                                                                        No.
                                                                    </th>
                                                                    <th>
                                                                        No.Comp
                                                                    </th>
                                                                    <th>
                                                                        Class
                                                                    </th>
                                                                </thead>
                                                                <tbody style=" overflow-y: auto;">
                                                                    <tr *ngFor="let part of scheduleGet; let i = index">
                                                                        <td>
                                                                            {{i + 1}}
                                                                        </td>
                                                                        <td>
                                                                            {{part.competitionId}}
                                                                        </td>
                                                                        <td>
                                                                            {{part.className}}
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>