<div class="wrapper">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 container">
					<div class="card">
						<div align="center" class="card-header">
							<button (click)="printToCart('printSectionId')" class="button col-md-2">Print</button>
						</div>

						<div class="card-body" id="printSectionId">
							<div class="row" align="center">
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/ipsi.png" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
								<div class="col-md-8">
									<div align="center">
										<p style="font-weight: bold;font-size: 20px">
											PENCAK SILAT CHAMPION CLASS
											<br> {{champName}}
											<br> {{champLocation}}
											<br> {{champTgl}}
										</p>
									</div>
								</div>
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/cv-yoshi.jpg" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
							</div>

							<div class="table-responsive">
								<table class="table table-bordered table-sm">
									<tbody align="center">
										<tr *ngFor="let champ of champion">
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 8%;font-size: 20px;">
												CLASS
											</td>
											<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 20%;font-size: 70px">
												{{ champ.className}}
											</td>
											<td style="border: 0px solid black !important;width: 30%; ">
												<table class="table-bordered container-fluid table-sm" style="width: 100%; padding: -12px -8px;">
													<tbody align="center" style="width: 100%">
														<tr>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;font-weight: bold; font-size: 14px">
																{{champ.gender}}
															</td>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																WINNER
															</td>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																CONTINGENT
															</td>
														</tr>
														<tr>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;font-weight: bold; font-size: 14px">
																{{champ.championNo1?.participantName}}
															</td>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																I
															</td>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																{{champ.championNo1?.contingentName}}
															</td>
														</tr>
														<tr>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																{{champ.championNo2?.participantName}}
															</td>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																II
															</td>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																{{champ.championNo2?.contingentName}}
															</td>
														</tr>
														<tr>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																{{champ.championNo3?.participantName}}
															</td>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																III
															</td>
															<td style="width: 33.3%;border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;font-size: 14px">
																{{champ.championNo3?.contingentName}}
															</td>
														</tr>
													</tbody>
												</table>
											</td>
											<!-- <th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 12%;font-size: 14px">
													WINNER 
												</th>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 30%;font-size: 14px">
													CONTINGENT 
												</th> -->
										</tr>
										<!-- <tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													I 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													{{champ.championNo1.contingentName}}
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													{{champ.championNo2.participantName}}
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													II
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													{{champ.championNo2.contingentName}}
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													{{champ.championNo3.participantName}}
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													III
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													{{champ.championNo3.contingentName}}
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													III
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr> -->
										<!-- <tr>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 30%;font-size: 14px">
													FEMALE 
												</th>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 12%;font-size: 14px">
													WINNER 
												</th>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 30%;font-size: 14px">
													CONTINGENT 
												</th>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													I 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													II
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													III
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													III
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr> -->

										<!-- Class B -->

										<!-- <tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 8%;font-size: 20px;" rowspan="10">
													CLASS
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 20%;font-size: 70px" rowspan="10">
													B
												</td>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 30%;font-size: 14px">
													MALE 
												</th>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 12%;font-size: 14px">
													WINNER 
												</th>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 30%;font-size: 14px">
													CONTINGENT 
												</th>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													I 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													II
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													III
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													III
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 30%;font-size: 14px">
													FEMALE 
												</th>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 12%;font-size: 14px">
													WINNER 
												</th>
												<th style="border: 1px solid black !important;font-size: 8px;padding: 8px 8px;font-weight: bold;width: 30%;font-size: 14px">
													CONTINGENT 
												</th>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													I 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													II
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													III
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr>
											<tr>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 12%;font-size: 14px">
													III
												</td>
												<td style="border: 1px solid black !important;font-size: 14px;padding: 4px 8px;font-weight: bold;width: 30%;font-size: 14px">
													 
												</td>
											</tr> -->

									</tbody>
								</table>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>