about {
	padding: 120px 0;
}

#about .about-img-ha {
	display: inline-block;
	position: relative;
	
}
#about .about-img-ha:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
