<link rel="stylesheet" type="text/css" href="assets/css/style.css">

<link rel="stylesheet" type="text/css" href="">

<app-navbar-online></app-navbar-online>


<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="intro-text" style="text-align: center">
              <h1>Pencak Silat Championship</h1>
              <p>Haven't Register for this Championship yet? Register your contingent and participant here</p>
              <a  [routerLink]="['/login']" class="btn btn-custom btn-lg page-scroll">Sign Up Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about" style="margin-top: -20px">
  <div style="padding-bottom: 40px" *ngFor="let champ of championships" class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="about-text">
          <img src="assets/img/seagames.png" class="col-md-12">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>{{champ.championshipName}}</h2>
          <hr>
          <p >
          {{ (champ.description.length > 200) ? (champ.description | slice:0:200)+'.....':(champ.description) }} </p>

            
          <a (click)="onDesc(champ.championshipId)" class="btn btn-custom btn-lg page-scroll"><font style="color: white">Read More</font>  </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container-fluid text-center copyrights">
    <div class="col-md-12 col-md-offset-2">
      <div class="social">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
      <p>&copy; 2018. All rights reserved. Designed by
        <a href="KoTA 106">KoTA 106</a>
      </p>
    </div>
  </div>
</div>