<div class="wrapper">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 container">
					<div class="card" style="background-color: rgb(56, 61, 68)">
						<!-- <div align="center" class="card-header">
							<button (click)="printToCart('printSectionId')" class="button col-md-2">Print</button>
						</div> -->
						<div class="card-body" >
							
							<div class="row" align="center">
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/ipsi.png" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
								<div class="col-md-8">
									<div align="center">
										<p style="font-weight: bold;font-size: 20px;text-transform: uppercase; color: white">
											PENCAK SILAT CHAMPION CLASS
											<br> {{champName}}
											<br> {{champLocation}}
											<br> {{champTgl}}
										</p>
									</div>
								</div>
								<div class="col-md-2">
									<div class="about-1-img">
										<img src="assets/img/cv-yoshi.jpg" class="img-responsive" alt="" height="100px" width="100px">
									</div>
								</div>
							</div>
							<br><br>
							<div class="col-md-12" id="printSectionId" style="overflow-x: auto; background-color: rgb(56, 61, 68)">
								<div id="my_gracket" style="background-color: rgb(56, 61, 68)"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>