<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form [formGroup]="formEdit">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Set Winner of Competition</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Contingent</label>
                                        <input type="text" class="form-control" formControlName="contingentName" value="{{ contingetnsId?.contingentName }}" required
                                            ngModel />

                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Official</label>
                                        <input type="text" class="form-control" formControlName="officialName" value="{{ contingetnsId?.officialName }}" required
                                            ngModel />

                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Address</label>
                                        <input type="text" class="form-control" formControlName="contingentAddress" placeholder="{{ contingetnsId?.contingentAddress }}"
                                            required ngModel/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="button" (click)="Update($event, contingetnsId.contingentId, formEdit.value, formEdit.valid)" style="padding-left: 20px"
                                data-dismiss="modal" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- <popup #popup1 [formGroup]="formEdit" (confirmClick)="Update( contingetnsId.contingentId, formEdit.value )">
            <div *ngIf="contingetnsId">
                <div  style="width: 180%; padding-top: -70px;" class="container">
                    <div class="">
                        <div class="form-group">
                            <label class="bmd-label-floating">Contingent</label>
                            <input type="text" class="form-control" formControlName="contingentName" value="{{ contingetnsId.contingentName }}"/>
                            <input type="hidden" readonly class="form-control" formControlName="participantAmount" value="{{ contingetnsId.participantAmount }}"/>

                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <label class="bmd-label-floating">Address</label>
                            <input type="text" class="form-control" formControlName="contingentAddress" placeholder="{{ contingetnsId.contingentAddress }}" />
                        </div>
                    </div>
                    
                </div>
            </div> 

        </popup> -->

        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-10 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Data Contingent</h4>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="formAdd" (ngSubmit)="onSubmit($event,formAdd.value,formAdd.valid)">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Contingent Name</label>
                                                <input type="text" class="form-control" formControlName="contingentName" required ngModel/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Official Name</label>
                                                <input type="text" class="form-control" formControlName="officialName" required ngModel/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Contingent Address</label>
                                                <input type="text" class="form-control" formControlName="contingentAddress" required ngModel/>
                                            </div>
                                        </div>

                                        <div class="col-md-2 " style="margin-top: 20px">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success pull-left">ADD</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header card-header-primary col-md-2" style="margin-top: 10px; margin-left: -5px; height: 40px;">
                                        <h4 class="card-title" style="margin-top: -7px ; height: 10px">Filter Table</h4>
                                    </div>
                                    <div class="row" style="margin-top: -17px">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Contingent Name</label>
                                                <input #selectCont type="text" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Official Name</label>
                                                <input #selectOffi type="text" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-2 " style="margin-top: 23px">
                                            <div class="form-group">
                                                <button (click)="onFilter(selectCont.value, selectOffi.value)" type="button" class="btn btn-primary row">
                                                    <i class="material-icons md-48">filter_list</i> FILTER
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="table-responsive" style="max-height: 500px">
                                    <table class="table table-bordered table-sm">
                                        <thead class=" text-primary text-center">
                                            <th style="width: 5%">
                                                ID
                                            </th>
                                            <th style="width: 21%">
                                                Contingent
                                            </th>
                                            <th style="width: 21%">
                                                Official
                                            </th>
                                            <th style="width: 21%">
                                                Address
                                            </th>
                                            <th style="width: 10%">
                                                Participant Amount
                                            </th>
                                            <th style="width: 17%" >
                                                Action
                                            </th>
                                        </thead>
                                        <tbody style=" overflow-y: auto;">
                                            <tr *ngFor="let cont of contingents">
                                                <td>
                                                    {{cont.contingentId}}
                                                </td>
                                                <td>
                                                    {{cont.contingentName}}
                                                </td>
                                                <td>
                                                    {{cont.officialName}}
                                                </td>
                                                <td>
                                                    {{cont.contingentAddress}}
                                                </td>
                                                <td>
                                                    {{cont.participantAmount}}
                                                </td>
                                                <td class="td-actions text-center">
                                                    <button (click)="updateContingents(cont.contingentId)" type="button" data-toggle="modal" data-target="#exampleModal" rel="tooltip"
                                                        class="btn btn-success">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" (click)="deleteContingents(cont.contingentId)" class="btn btn-danger">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <app-footer></app-footer>
    </div>