<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form [formGroup]="formEdit">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Name</label>
                                        <input type="text" class="form-control" formControlName="jurorName" value="{{ jurorsId?.jurorName }}" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Role</label>
                                            <select class="form-control" formControlName="role" value="{{ jurorsId?.role }}" id="exampleFormControlSelect2">
                                                <option value="GRAND JUROR">Grand Juror</option>
                                                <option value="JUROR">Juror</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Gender</label>
                                            <select formControlName="gender" value="{{ jurorsId?.gender }}" class="form-control" id="selectGender">
                                                <option value="MALE">MALE</option>
                                                <option value="FEMALE">FEMALE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="button" (click)="Update( formEdit.value )" style="padding-left: 20px" data-dismiss="modal"
                                class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <!-- <popup #popup1 [formGroup]="formEdit" (confirmClick)="Update( jurorsId.jurorId, formEdit.value )">
            <div *ngIf="jurorsId">
                <div  style="width: 120%; padding-top: -70px;" class="container">
                    <div class="">
                        <div class="form-group">
                            <label class="bmd-label-floating">Name</label>
                            <input type="text" class="form-control" formControlName="jurorName" value="{{ jurorsId.jurorName }}"/>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Role</label>
                                <select class="form-control" formControlName="role" value="{{ jurorsId.role }}"  id="exampleFormControlSelect2">
                                    <option value="Grand Juror">Grand Juror</option>
                                    <option value="Juror">Juror</option>
                                    <option value="Refree">Refree</option>

                                </select>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Gender</label>
                                <select formControlName="gender" value="{{ jurorsId.gender }}" class="form-control" id="selectGender">
                                    <option value="MALE">MALE</option>
                                    <option value="FEMALE">FEMALE</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> 

        </popup> -->

        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="column col-md-12">
                    <div class="row">
                        <div class="col-md-4 container">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Add Data Juror</h4>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="formAdd" (ngSubmit)="onSubmit(formAdd.value)">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Juror Name</label>
                                                        <input formControlName="jurorName" type="text" class="form-control">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Gender</label>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <select formControlName="gender" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                                    <option>-select-</option>
                                                                    <option value="MALE"> Male</option>
                                                                    <option value="FEMALE">Female</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <button type="submit" class="btn btn-primary pull-right">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 container">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Add Grand Juror</h4>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="formAdd2" (ngSubmit)="onSubmit2(formAdd2.value)">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Grand juror Name</label>
                                                        <input formControlName="grandJurorName" type="text" class="form-control">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Gender</label>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <select formControlName="gender" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                                    <option>-select-</option>
                                                                    <option value="MALE"> Male</option>
                                                                    <option value="FEMALE">Female</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <button type="submit" class="btn btn-primary pull-right">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-8 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Data Juror and Grand Juror</h4>
                            </div>
                            <div class="card-body">
                                <div class="row" style="margin-top: -17px">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Name</label>
                                            <input #selectJur type="text" class="form-control" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Role</label>
                                            <select #selectRole class="form-control" id="FormControlSelect2">
                                                <option value="">--</option>
                                                <option value="JUROR">Juror</option>
                                                <option value="GRAND JUROR">Grand Juror</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Gennder</label>
                                            <select #selectGender class="form-control" id="FormControlSelect2">
                                                <option value="">--</option>
                                                <option value="MALE">Male</option>
                                                <option value="FEMALE">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 " style="margin-top: 23px">
                                        <div class="form-group">
                                            <button (click)="onFilter(selectJur.value, selectRole.value, selectGender.value)" type="button" class="btn btn-primary btn-pull-right row">
                                                <i class="material-icons md-48">filter_list</i> FILTER
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive" style="max-height: 500px">
                                    <table class="table table-bordered table-sm">
                                        <thead class="text-primary text-center">
                                            <th style="width: 20%">
                                                Role
                                            </th>
                                            <th style="width: 30%">
                                                Name
                                            </th>
                                            <th style="width: 10%">
                                                Gender
                                            </th>

                                            <th style="width: 15%">
                                                Action
                                            </th>
                                        </thead>
                                        <tbody style=" overflow-y: auto;">
                                            <tr *ngFor="let jur of jurors">
                                                <!-- <td>
                                                    {{jur.jurorId}}
                                                </td> -->
                                                <td>
                                                    {{jur.role}}
                                                </td>
                                                <td>
                                                    {{jur.jurorName}}
                                                </td>
                                                <td>
                                                    {{jur.gender}}
                                                </td>
                                                <td class="td-actions text-center">
                                                    <button type="button" (click)="updateJurors(jur.jurorId ,jur.role)" data-toggle="modal" data-target="#exampleModal" rel="tooltip"
                                                        class="btn btn-success">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" (click)="deleteJurors(jur.jurorId)" class="btn btn-danger">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <app-footer></app-footer>
            </div>
        </div>