<div class="wrapper">
    <app-sidebar></app-sidebar>

    <div class="main-panel">

        <app-navbar></app-navbar>

        <div class="content">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-4 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Competition Scheme</h4>
                            </div>
                            <div class="card-body">
                                <form class="container">

                                    <div class="row" style="margin-top: -17px">
                                        <div class="col-md-12 pull-right">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Scheme Name</label>
                                                <select #schemeIdPar class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option disabled>-select-</option>
                                                    <option *ngFor="let scheme of schemeAll" value="{{scheme.schemeId}}">{{scheme.schemeName}}</option>
                                                </select>
                                            </div>

                                            <input type="text" class="form-control " value="1" hidden disabled>
                                        </div>
                                    </div>

                                    <button (click)="routerScheme(schemeIdPar.value)" class="btn btn-primary pull-right">Preview </button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Detail Competition</h4>
                            </div>
                            <div class="card-body">
                                <form class="container">
                                    <div class="row" style="margin-top: -17px">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Date</label>
                                                <input #dateDtl type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Arena</label>
                                                <select #selectArenaDtl (change)="selArenaDtl(dateDtl.value, $event)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option disabled>-select-</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Schedule Session</label>
                                        <select #selectSessionDtl class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option disabled value="">-select-</option>
                                            <option *ngFor="let list of ScheduleSessionDtl; let i = index" value="?round={{list.round}}&date={{dateDtl.value}}&timeStart={{list.timeStart}}&timeEnd={{list.timeEnd}}">
                                                Round {{list.round}} | {{list.timeStart}} - {{list.timeEnd}}
                                            </option>
                                        </select>
                                    </div>
                                    <button (click)="routerDetail(selectSessionDtl.value, selectArenaDtl.value)" class="btn btn-primary pull-right">Preview & Print</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 container">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">description</i>
                                </div>
                                <p class="card-category">Report</p>
                                <h3 class="card-title">Class Champhion</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                            <button type="submit" [routerLink]="['/report-class-champion']" class="btn btn-primary pull-left">Preview & Print</button>

                        </div>
                    </div>

                    <div class="col-md-4 container">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Weight Validation</h4>
                            </div>
                            <div class="card-body">
                                <form class="container">
                                    <div class="row" style="margin-top: -17px">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Date</label>
                                                <input #dateWei type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Arena</label>
                                                <select #selectArena (change)="selArenaWei(dateWei.value, $event)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                                    <option disabled>-Select-</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Schedule Session</label>
                                        <select #selectSession (change)="onShows(selectSession.value)" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option disabled>-Select-</option>
                                            <option *ngFor="let list of ScheduleSessionWei; let i = index" value="?round={{list.round}}&date={{dateWei.value}}&timeStart={{list.timeStart}}&timeEnd={{list.timeEnd}}">
                                                Round {{list.round}} | {{list.timeStart}} - {{list.timeEnd}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="bmd-label-floating">Compt Number</label>
                                        <select #selectCompetition class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option disabled>-Select-</option>
                                            <option *ngFor="let mon of compWei" value="{{mon.competitionId}}">
                                                {{mon.competitionId}}
                                            </option>
                                        </select>
                                    </div>

                                    <button (click)="routerWeight(selectCompetition.value, dateWei.value)" class="btn btn-primary pull-right">Preview & Print</button>

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 container">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">description</i>
                                </div>
                                <p class="card-category">Report</p>
                                <h3 class="card-title">Medal List</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                            <button type="submit" [routerLink]="['/report-medal-list']" class="btn btn-primary pull-left">Preview & Print</button>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <app-footer></app-footer>

    </div>